body {
            background-image: url('../img/c.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            min-height: 100vh;
        }

        .calculadora-container {
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #6a75ff;
    border: none;
    border-radius: 6px;
    color: white;
    margin-top: 20px;
}

#resultado {
    margin-top: 30px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: center;
}
