{% extends "activida.html" %}

{% block title %}Acerca de...{% endblock %}

{% block content %}
<div class="text-center">
    <h2 class="text-info fw-bold">Acerca de...</h2>
    <p class="lead">Este proyecto fue desarrollado con el objetivo de mostrar distintos temas de interés general.</p>
    <p>
        En esta página compartimos información sobre algunos de los temas que más nos apasionan:
los animales exóticos, que nos muestran la increíble diversidad de la naturaleza;
los vehículos antiguos, que representan la evolución de la tecnología y el ingenio humano;
y las 7 maravillas del mundo, símbolo del esfuerzo y la creatividad de diferentes culturas.
Nos gusta aprender sobre el planeta y su historia, descubrir curiosidades y conocer cómo ha cambiado el mundo a lo largo del tiempo.
En el futuro queremos seguir explorando, aprendiendo y compartiendo conocimientos con los demás.</p>

    <p class="mt-4 text-secondary">Acerca de mi:</p>
    <p>Gustos: Me gusta crear, Explorar y Dibujar</p>
<p>En un futuro quisiera ser un biologa y una ingeniera posiblemente en sistemas ,  
    Deseo ser una persona responsable, en la que se pueda confiar, 
    y que siempre busque aprender y superarse.
Me gustaría ayudar a cuidar el medio ambiente, crear proyectos útiles.</p>
    <h5 class="fw-bold text-white">Ramirez Vela Areli y Santana Ruiz Kenia Alejandra</h5>
</div>
{% endblock %}