{% extends "inicio.html" %}

{% block title %}Calculadora de IMC{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="calculadora-container">

    <h1>Calculadora de IMC</h1>

    
    <label>Peso (en gramos):</label>
    <input type="number" name="peso" form="formulario" placeholder="Ej. 60000" required>

    
    <label>Altura (en centímetros):</label>
    <input type="number" name="altura" form="formulario" placeholder="Ej. 165" required>

    
    <form id="formulario" action="/calcular" method="POST">
        <button type="submit">Calcular IMC</button>
    </form>

    
    <div id="resultado">
        {% if resultado %}
            <p><strong>IMC:</strong> {{ imc }}</p>
            <p><strong>Categoría:</strong> {{ categoria }}</p>
        {% else %}
            <p>El resultado aparecerá aquí...</p>
        {% endif %}
    </div>

</div>

{% endblock %}




