{% extends "base.html" %}
{% block title %}Dieta Personalizada{% endblock %}

{% block content %}
<h2 class="mb-4 text-center">Dieta Personalizada</h2>

<form action="/dieta" method="POST" class="p-4 border rounded bg-light shadow">
    <div class="mb-3">
        <label>Edad:</label>
        <input type="number" name="edad" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Peso (kg):</label>
        <input type="number" name="peso" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Altura (cm):</label>
        <input type="number" step="0.01" name="altura" placecholder="Ej:1.70" required>
    </div>

    <div class="mb-3">
        <label>Objetivo:</label>
        <select name="objetivo" class="form-control" required>
            <option value="bajar">Bajar de peso</option>
            <option value="subir">Subir de peso</option>
            <option value="mantener">Mantener peso</option>
        </select>
    </div>

    <button class="btn btn-success w-100">Generar dieta</button>
</form>

{% if dieta %}
<hr>
<h3 class="mt-4">Tu dieta recomendada</h3>
<ul>
    {% for comida in dieta %}
    <li>{{ comida }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
