{% extends "inicio.html" %}
{% block title %}Registro{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="text-center my-4">
    <h1>NutriLife</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg rounded-4 border-0">
        <div class="card-body p-4">
            <h3 class="text-center mb-4">Crear una cuenta</h3>
            <hr>

            <form action="/formulario" method="post">

            <div class="row mb-3">
                <div class="col">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
                </div>
                <div class="col">
                <input type="text" class="form-control" name="apellido" placeholder="Apellido" required>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Fecha de nacimiento:</label>
                <div class="row">
                <div class="col">
                    <select class="form-select" name="dia" required>
                    <option value="">Día</option>
                    {% for i in range(1, 32) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="mes" required>
                    <option value="">Mes</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                    </select>
                </div>
                    <div class="col">
                    <select class="form-select" name="anio" required>
                    <option value="">Año</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    </select>
                </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Género:</label><br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" value="femenino" required>
                <label class="form-check-label">Femenino</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" value="masculino">
                <label class="form-check-label">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" value="otro">
                <label class="form-check-label">Otro</label>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                <input type="text" class="form-control" name="peso" placeholder="Peso (kg)" required>
                </div>
                <div class="col">
                <input type="text" class="form-control" name="altura" placeholder="Altura (cm)" required>
                </div>
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" name="email" placeholder="Correo electrónico o teléfono" required>
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Contraseña nueva" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Objetivos</label>
                <textarea class="form-control" name="objetivos" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Alergias</label>
                <textarea class="form-control" name="alergias" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Intolerancias</label>
                <textarea class="form-control" name="intolerancias" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Dietas específicas</label>
                <textarea class="form-control" name="dietas" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Alimentos que no le gustan</label>
                <textarea class="form-control" name="no_gustan" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Nivel de Experiencia</label><br>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="experiencia" value="principiante" required>
                <label class="form-check-label">Principiante</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="experiencia" value="intermedio">
                <label class="form-check-label">Intermedio</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="experiencia" value="profesional">
                <label class="form-check-label">Profesional</label>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success w-50">Registrarse</button>
            </div>
            </form>

            <div class="text-center mt-4">
            <p>¿Ya tienes una cuenta? <a href="/sesion">Iniciar sesión</a></p>
            </div>

            <div class="text-center mt-3">
            <p>© 2025. Desarrollado por <strong>Kenia Santana y Areli Ramírez</strong></p>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
